body
{
background-color: #f5f5f5;
margin: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

table
{
	border-spacing:0px;
}

tbody
{
	vertical-align: top;
}

td
{
	padding:0px;
	line-height: 0;
}

td img 
{ 
	vertical-align: middle; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.inbar {
  fill: steelblue;
}
.outbar
{
	fill:#eeb211;
}
#in_label {
	fill: steelblue;
}
#out_label {
	fill:#eeb211;
}

#timeline {
	max-width: 1040px;
	height: 180px;
	overflow: scroll;
}

#email_container {
	max-height: 338px;
	overflow-y: scroll;
}

.bargroup rect {
	pointer-events: none;
}
/*.bargroup:hover rect{
	fill:brown;
}*/

.timestamp {
	align:right;
}

.timestamp text {
	color: #2d2d2d;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}